body {
  background-image: url(https://liquid-sunset-over-stone.github.io/general_page/spaaaaccee.png);
  background-image-repeat: repeat;
  background-size: 64px 64px;
}
* {
  box-sizing: border-box;
}

.flex-container {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.flex-item-left {
  flex: 50%;
  padding: 5px;
  max-width: 955px;
}

.flex-item-right {
  flex: 50%;
  padding: 5px;
  max-width: 315px;
}
